.control-panel{
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  background-color: black;
  text-align: center;
}

.mapboxgl-popup-content{
  opacity: 0.8;
  padding-top: 15px;
}
.form-item{
  display: inline;
  margin: 20px;
}

label{
  color: white;
}